<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sead_systems.seads">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/seads"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".energy_cost.EnergyCostActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".main_menu.MainMenuActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".graph.DemoActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".device_list.DeviceListActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".DeviceInfo"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".AddDeviceActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".device_panel_page.Device_panel_main"
            android:label="@string/title_activity_device_panel_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>