<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sead_systems.seads">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/seads"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".WelcomeActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".LoginActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".SignupActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".CostActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".SettingsActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".DashboardActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".graph.DemoActivity">         
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".DeviceListActivity">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".DeviceInfo">
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name=".AddDevice">
        </activity>
        
    </application>

</manifest>